$primaryColor1: linear-gradient(45deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
$neutralColor1: hsl(243, 100%, 93%);
$neutralColor2: hsl(229, 7%, 55%);
$neutralColor3: hsl(228, 56%, 26%);
$neutralColor4: hsl(229, 57%, 11%);
$fontSize: 1.4rem;
