@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section {
  display: block;
  width: 90%;
  max-width: 30rem;
  margin: 5rem auto;
}
@media (min-width: 768px) {
  .main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-end;
    max-width: 80%;
    height: 40%;
    margin-top: 10rem;
  }
}
.main-section .fylo {
  width: 100%;
  max-width: 30rem;
  background-color: hsl(228, 56%, 26%);
  border-radius: 1rem 10rem 1rem 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .main-section .fylo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
    height: 25rem;
  }
}
.main-section .fylo .fylo-logo {
  width: 12rem;
  height: 3.5rem;
  margin: 2rem;
}
.main-section .fylo .icons {
  width: 60%;
  max-width: 20rem;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .main-section .fylo .icons {
    display: flex;
    max-width: 30rem;
  }
}
.main-section .fylo .icons .document-btn, .main-section .fylo .icons .upload-btn, .main-section .fylo .icons .folder-btn {
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(229, 57%, 11%);
  margin: 0.5rem;
}
.main-section .fylo .icons .document-btn .document-icon, .main-section .fylo .icons .upload-btn .document-icon, .main-section .fylo .icons .upload-btn .upload-icon, .main-section .fylo .icons .folder-btn .document-icon, .main-section .fylo .icons .folder-btn .folder-icon {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
}
.main-section .fylo .icons .upload-btn .upload-icon {
  width: 4.5rem;
  height: 4rem;
}
.main-section .storage {
  width: 100%;
  max-width: 30rem;
  background-color: hsl(228, 56%, 26%);
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .main-section .storage {
    max-width: 50rem;
    margin-left: 2rem;
    height: 20rem;
  }
}
.main-section .storage .header {
  display: block;
  text-align: center;
  padding: 2rem 0 1rem;
  color: hsl(243, 100%, 93%);
  font-weight: 300;
  font-size: 1.5rem;
}
.main-section .storage .header strong {
  color: #fff;
}
.main-section .storage .full-bar {
  display: flex;
  align-items: center;
  width: 90%;
  height: 2rem;
  margin: 2rem auto 0;
  background-color: hsl(229, 57%, 11%);
  border-radius: 5rem;
}
.main-section .storage .full-bar .ocupied-bar {
  display: flex;
  align-items: center;
  width: 75%;
  height: 1.5rem;
  background-image: linear-gradient(45deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 5rem;
  margin-left: 0.3rem;
}
.main-section .storage .full-bar .ocupied-bar .circle {
  background-color: rgb(247, 247, 247);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  margin: 0 0.2rem 0 auto;
}
.main-section .storage .full-storage {
  width: 90%;
  margin: 0.5rem auto 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-section .storage .full-storage .zero-gb, .main-section .storage .full-storage .oneThousand-gb {
  font-size: 1.5rem;
  color: #fff;
}
.main-section .storage .left-storage {
  width: 70%;
  margin: 2rem auto -5.5rem;
  border-radius: 1rem;
  background-color: #fff;
  text-align: center;
  font-size: 1.2rem;
  color: hsl(229, 7%, 55%);
  padding: 1.5rem 2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .main-section .storage .left-storage {
    max-width: 20rem;
    position: absolute;
    margin: -18.1rem 0rem 0rem 28rem;
  }
  .main-section .storage .left-storage::after {
    content: " ";
    position: absolute;
    right: 0.05rem;
    bottom: -1.2rem;
    border-top: 2rem solid #fff;
    border-right: 0.1rem solid transparent;
    border-left: 2.5rem solid transparent;
    border-bottom: none;
  }
}
.main-section .storage .left-storage strong {
  font-size: 3.5rem;
  color: hsl(229, 57%, 11%);
  margin-right: 0.5rem;
}

.attribution {
  margin-top: 10rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(233, 233, 233);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */